@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Prata&family=Bree+Serif&display=swap');

:root {
    --icon-size: 30px;
    --dist: 20px;
}

* {
    /* font-family: "Noto Sans JP", Helvetica, Arial, sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Prata', serif; */
    font-family: 'Bree Serif', serif;
    font-weight: 700;
    color: #555;
    /* color: #fff; */
}

body {
    /* background-color: blueviolet; */
    margin: 85px 0 0 0;
}

h1, h2 {
    margin: 0;
}

p {
    font-family: "Noto Sans JP";
    font-weight: 300;
    margin-left: var(--dist);
}

.section-title {
    width: 100%;
    padding-left: var(--dist);
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 25px;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 23px 0 0 calc(var(--dist) * 2);
    z-index: 2000;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: var(--dist) 0;
    background-color: rgba(255, 255, 255, .9);
    transition: height .1s linear;
    box-shadow: 0 0 5px rgba(32, 32, 32, .5);
}

.menu {
    display: flex;
    justify-content: center;
}

.menu .item {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 4px;
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

.menu .item .icon {
    /* background-color: #555; */
    /* color: #FFF; */
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: margin .1s linear;
    z-index: 1000;
}

.menu .item .icon img {
    height: 100%;
    width: 100%;
    opacity: .7;
}


.menu .item .text {
    display: none;
    position: absolute;
    margin-top: 35px;
    transition: margin .1s linear;
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    width: 1400px;
    max-width: 100%;
    margin-bottom: 100px;
}

.main {
    padding: var(--dist);
}

.main > section {
    width: 100%;
    overflow: hidden;
}

.block { 
    float: left;
    width: calc(50% - var(--dist) * 4);
    margin: var(--dist);
    padding: var(--dist);
    min-height: 300px;
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    /* box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.3); */
    transition: box-shadow .1s linear;
}

.block:hover {
    box-shadow: 0 0 15px -5px rgba(32, 32, 32, 1);
}

.small:hover {
    box-shadow: 0 0 15px -5px rgba(32, 32, 32, .5);
}

.block .subtext {
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    margin-top: 5px;
}

.small {
    min-height: 70px;
    background-color: #EEE;
    background-position: right -10px bottom -10px;
    background-size: 100px;
    background-repeat: no-repeat;
}

.white > * {
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.me {
    padding: var(--dist);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.me > img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    margin-right: var(--dist);
}

.me p {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .block { 
        width: calc(100% - var(--dist) * 4);
    }

    .main {
        padding: 0;
    }

    .menu {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: calc(var(--dist) * 2);
    }
}